*{
    margin: 0;
    padding: 0;

}

.nav{
    background: darkblue;
    height: 65px;
    overflow:hidden;

}

.nav li{
    float:left;
    list-style:none;
    margin: 0 25px;
    line-height: 65px;
}

.nav li a{
    color: aliceblue;
    text-decoration:none;

}
.nav li a:hover{
    color: lightblue;
}



